:root {
    --background-color: lightsteelblue;
    --secondary-color: steelblue;
    --menu-color: rgb(145, 189, 224);
    --accent-color: whitesmoke;
    --font-color: rgb(20, 20, 20);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    grid-template-rows: 110px calc(100vh - 110px - 62px) 62px;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}





/* Scrollbar styling */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
    border: 1px solid rgb(20, 20, 20, 0.2);
}

::-webkit-scrollbar-thumb {
    /* background: var(--menu-color);  */
    background: rgb(20, 20, 20, 0.25);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); 
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4); 
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); 
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6); 
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid rgb(20, 20, 20, 0.2);
}





/* Header styling */

.logo {
    max-height: 90%;
    margin-right: 8px;
    /* whitesmoke color */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);
}

header {
    grid-column: 1 / -1;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.8);
    z-index: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

header>h1 {
    font-size: 2em;
    font-weight: bolder;
}



/* Dropdown menu styling */

.optionsIconContainer {
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    float: right;
}

.optionsIcon {
    padding: 4px;
    border-radius: calc(4px + 0.6rem);
    /* whitesmoke color */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);
}

.optionsIcon:hover {
    background-color: rgb(245, 245, 245, 0.6);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    filter: none;
}

.optionsIcon:active,
.optionsIcon.selected {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
    filter: none;
}

.dropdownContainer {
    background-color: var(--menu-color);
    color: var(--font-color);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    border-radius: 8px;   
    position: absolute;
    right: 0;
    top: 100%;
    width: max-content;
    box-sizing: border-box;
    z-index: 2;
}

.dropdownItem {
    display: block;
    /* margin: 10px 1rem; */
    padding: 12px 1rem;
    border-radius: 8px;   
}

.dropdownItem:hover {
    background-color: rgb(245, 245, 245, 0.3);
    cursor: pointer;
}

.dropdownItem:active {
    color: darkorange;
}





/* Menu styling */

.menu {
    background-color: var(--menu-color);
    color: var(--font-color);
    font-size: 1.2rem;
    box-sizing: border-box;
}

.menu>ul.menuOptions {
    margin-top: 20px;
}

.icon {
    height: 1.2rem;
}

.menuOptions,
.taskList {
    list-style: none;
    padding: 0;
}

.menuOptions>li,
.taskList>li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projectsHeader {
    font-weight: 700;
    font-size: 1.3rem;
}

.menuOptions li,
.taskList li,
.projectsHeader,
.contentTitle,
.addTaskBtn,
.addProjectForm {
    margin: 10px 1rem;
    padding: 8px;
    border-radius: 8px;    
}

.taskList li:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

.menuOptions li:hover,
.addTaskBtn:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.menuOptions li:active,
.addTaskBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

li.selected {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

img.selected {
    background-color: rgb(245, 245, 245, 0.6);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.1);
}

input#newProjectInput,
input#newTaskInput {
    width: 100%;
    margin: 0;
}




/* Form styling */

legend {
    max-width: none;
}

#showBlock {
    display: block;
}

#showFlex {
    display: flex;
}

#hidden {
    display: none;
}

.addProjectForm,
.addTaskForm {
    padding: 0;
}

.addTaskForm {
    margin: 10px;
}

.formRow {
    display: flex;
    justify-content:space-around;
    gap: 8px;

}

#formButtons {
    margin-top: 8px;
}

#newTaskInput,
.taskCardInput,
#newProjectInput {
    /* display: block; */
    padding: 6px;
    font-size: 1.2rem;
    margin: 6px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.addBtn,
.cancelBtn {
    padding: 8px;
    width: 50%;
    border-radius: 8px;    
    font-size: 1rem;
}

.addBtn {
    background-color: lightgreen;
    border: 2px solid hsl(120, 73%, 55%);
}

.cancelBtn {
    background-color: lightpink;
    border: 2px solid hsl(351, 100%, 70%);

}

.addBtn:hover,
.cancelBtn:hover {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.addBtn:active,
.cancelBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

.newProjErrorContainer,
.newTaskErrorContainer {
    margin-top: 8px;
    text-align: center;
    color: darkred;
}

label {
    font-size: 1rem;
}





/* Content styling */

.content {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 1.2rem;
    max-width: 1000px;
    box-sizing: border-box;
    overflow: auto;
}





/* Task listing styling */

.taskPastDue {
    color: darkred;
}

.highPriority {
    border-left: 5px solid red;
}

.mediumPriority {
    border-left: 5px solid darkorange;
}

.lowPriority {
    border-left: 5px solid green;
}

.complete {
    border-left: 5px solid var(--font-color);
}

.hidden,
ul li.hidden {
    display: none;
}

img.icon:hover,
.dateContainer:hover {
    cursor: pointer;
}

.deleteProject,
.dateContainer {
    margin-left: auto;
}

.checkboxContainer:active {
    filter: invert(18%) sepia(76%) saturate(2312%) hue-rotate(109deg) brightness(100%) contrast(107%);
}

.deleteItem:hover {
    filter: invert(7%) sepia(51%) saturate(5951%) hue-rotate(350deg) brightness(140%) contrast(136%);
}

.editContainer:hover {
    filter: invert(60%) sepia(34%) saturate(3621%) hue-rotate(359deg) brightness(100%) contrast(109%);
}

#complete {
    text-decoration: line-through;
}

.editContainer {
    display: flex;
}





/* Task card styling */

fieldset {
    display: flex;
    flex-direction: column;
    /* border-radius: 6px; */
    box-sizing: border-box;
    padding: 6px;
    border: none;
}

fieldset > legend {
    display: flex;
    flex-direction: column;
    gap: none;
    width: auto;
    height: auto;
}

.cardRow2 > div {
    box-sizing: border-box;
}

legend>.cardRow {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 1rem;
    padding: 6px;
}

/* date input */
input[type='date'] {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;    
    display: block;
    /* new edit calendar icon */
    background: url('./assets/calendar-edit.svg');
    height: 1.2rem;
}

/* dark orange on hover */
::-webkit-calendar-picker-indicator:hover {
    filter: invert(58%) sepia(26%) saturate(5470%) hue-rotate(2deg) brightness(105%) contrast(103%);    
}

/* input widths */
.projectInputContainer, 
.priorityInputContainer {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}


select#taskCardProject, 
select#taskCardPriority {
    width: 100%;
    margin: 0%;
    text-align: center;
    
}

/* format delete button on task card */
.card>img.deleteItem {
    margin-bottom: auto;
}





/* Footer styling */

footer {
    grid-column: 1 / -1;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}

footer>a {
    display: flex;
}

.github {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(-360deg) scale(1.2);
}