:root {
    --background-color: lightsteelblue;
    --secondary-color: steelblue;
    --accent-color: whitesmoke;
}

body {
    background-color: var(--background-color);
    /* need to switch to grid display for side panel */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
background-color: var(--secondary-color);
color: var(--accent-color);
padding: 10px;
}

footer {
background-color: var(--secondary-color);
color: whitesmoke;
display: flex;
align-items: center;
justify-content: center;
margin-top: auto;
}

.github {
    height: 24px;
    margin-left: 10px;
}