:root {
    --background-color: lightsteelblue;
    --secondary-color: steelblue;
    --menu-color: rgb(145, 189, 224);
    --accent-color: whitesmoke;
    --font-color: rgb(20, 20, 20);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    grid-template-rows: 110px calc(100vh - 110px - 62px) 62px;
    margin: 0;
}





/* Scrollbar styling */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
    border: 1px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--menu-color); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); 
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4); 
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); 
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6); 
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid var(--secondary-color);
}





/* Header styling */

.logo {
    max-height: 90%;
    margin-right: 8px;
    /* whitesmoke color */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);
}

header {
    grid-column: 1 / -1;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.8);
    z-index: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.optionsIconContainer {
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    float: right;
}

.optionsIcon {
    padding: 4px;
    border-radius: calc(4px + 0.6rem);
    /* whitesmoke color */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg) brightness(107%) contrast(92%);
}

.optionsIcon:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    filter: none;
}

.optionsIcon:active,
.optionsIcon.selected {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
    filter: none;
}

.dropdownContainer {
    background-color: var(--menu-color);
    color: var(--font-color);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    border-radius: 8px;   
    position: absolute;
    right: 0;
    top: 100%;
    width: max-content;
    z-index: 2;
}

.dropdownItem {
    display: block;
    margin: 10px 1rem;
    padding: 8px;
    border-radius: 8px;   
}

.dropdownItem:hover {
    background-color: rgb(245, 245, 245, 0.3);
    cursor: pointer;
}

.dropdownItem:active {
    color: darkorange;
}





/* Menu styling */

.menu {
    background-color: var(--menu-color);
    color: var(--font-color);
    font-size: 1.2rem;
}

.icon {
    height: 1.2rem;
}

.menuOptions {
    list-style: none;
    padding: 0;
}

.menuOptions>li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projectsHeader {
    font-weight: 700;
    font-size: 1.3rem;
}

.menuOptions li,
.projectsHeader,
.contentTitle,
.addTaskBtn,
.addProjectForm,
tbody>tr {
    margin: 10px 1rem;
    padding: 8px;
    border-radius: 8px;    
}

tbody>tr.task:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

.menuOptions li:hover,
.addTaskBtn:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.menuOptions li:active,
.addTaskBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

.selected {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.1);
}




/* Form styling */

#showBlock {
    display: block;
}

#showFlex {
    display: flex;
}

#hidden {
    display: none;
}

.addProjectForm,
.addTaskForm {
    padding: 0;
}

.addTaskForm {
    margin: 10px;
}

.formRow{
    display: flex;
    justify-content:space-around;
    gap: 8px;

}

#formButtons {
    margin-top: 8px;
}

#newTaskInput,
#newProjectInput {
    width: 100%;
    font-size: 1.2rem;
    padding: 6px;
    border: none;
    border-radius: 8px;
}

.addBtn,
.cancelBtn {
    width: 100%;
    padding: 8px;
    border-radius: 8px;    
    font-size: 1rem;
}

.addBtn {
    background-color: lightgreen;
    border: 2px solid hsl(120, 73%, 55%);
}

.cancelBtn {
    background-color: lightpink;
    border: 2px solid hsl(351, 100%, 70%);

}

.addBtn:hover,
.cancelBtn:hover {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.addBtn:active,
.cancelBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

.newProjErrorContainer,
.newTaskErrorContainer {
    margin-top: 8px;
    text-align: center;
    color: darkred;
}





/* Content styling */

.content {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 1.2rem;
    max-width: 1000px;
    overflow: auto;
    /* padding: 20px; */
}





/* Table styling */

table {
    /* border: 1px solid red; */
    width: 100%;
}

tbody>tr {
    box-sizing: border-box;
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 8px;
    /* border: 2px solid blue; */
}

.highPriority {
    border-left: 5px solid red;
}

.mediumPriority {
    border-left: 5px solid darkorange;
}

.lowPriority {
    border-left: 5px solid green;
}

.complete {
    border-left: 5px solid var(--font-color);
}

.hidden {
    display: none;
}

td {
    /* border: 2px solid pink; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

/* NEW */
img.icon:hover,
.dateContainer:hover {
    cursor: pointer;
}

.dateContainer,
img.deleteItem {
    margin-left: auto;
}

.checkboxContainer:active {
    filter: invert(18%) sepia(76%) saturate(2312%) hue-rotate(109deg) brightness(100%) contrast(107%);
}

.deleteItem:hover {
    filter: invert(7%) sepia(51%) saturate(5951%) hue-rotate(350deg) brightness(140%) contrast(136%);
}

.editContainer:hover,
img.editDateIcon:hover {
    filter: invert(60%) sepia(34%) saturate(3621%) hue-rotate(359deg) brightness(100%) contrast(109%);
}

/* .taskContainer {

} */

td img {
    /* border: 2px solid blue; */
    color: #006400;
}

#complete {
    text-decoration: line-through;
}





/* Footer styling */

footer {
    grid-column: 1 / -1;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.github {
    height: 24px;
    margin-left: 10px;
}